node_modules
tags
opalrb-loader
.bundle
build
lib
.connect*
backup
public/assets
.env*
.azk
Azkfile.js
app.json
config/
docker-compose.override.yml
init.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
